<div id="doubleAds" class="mt-5 ad-container-principal">
    <div class="ad-container g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250">
        <a href="https://www.instagram.com/sauloholanda_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==/">
           <img class="ad-image" src="{{site.baseurl}}/assets/images/anuncios/duplo/imgD.jpg"/>
        </a>
     </div>
     <div class="ad-container g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250">
        <a href="https://professorlupercio.com.br/">
           <img class="ad-image" src="{{site.baseurl}}/assets/images/anuncios/duplo/imgE.jpg"/>
        </a>
     </div>
 <div class="ad-container g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250">
        <a href="https://www.instagram.com/centraldajuventudeolinda/?igsh=MW94eXdiZDVjeHF1OQ%3D%3D#">
           <img class="ad-image" src="{{site.baseurl}}/assets/images/anuncios/duplo/imgAA.jpeg"/>
        </a>
     </div>
    <div class="ad-container g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250">
        <a href="https://www.blogdoalberesxavier.com/">
           <img class="ad-image" src="{{site.baseurl}}/assets/images/anuncios/duplo/imgA.jpg"/>
        </a>
     </div>
