<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative color-base-box">
    <div class="col-12 col-lg-8 p-4 d-flex flex-column position-static">
        <h2 class="mb-1 h4 font-weight-bold">
            <a class="text-dark" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
        </h2>
        <p class="excerpt">
            {{ post.excerpt  | strip_html | strip_newlines | truncate: 186}}
        </p>
        <small class="d-block text-muted">
            Em <span class="catlist">
            {% for category in post.categories %}
            <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
            {% endfor %}
            </span>
        </small>
        <small class="text-muted">
            {{ post.date | date: "%d/%m/%Y" }}
        </small>
    </div>

    {% if post.image %}
        <!-- Para dispositivos móveis (imagem de fundo) -->
        <div class="col-12 d-block d-lg-none" 
             style="background-image: url('{% if post.image contains '://' %}{{ post.image }}{% else %}{{ site.baseurl }}{{ post.image | absolute_url }}{% endif %}');
                    background-size: cover; background-position: center; background-repeat: no-repeat;
                    height: 280px;">
        </div>

        <!-- Para telas grandes (imagem como img normal) -->
        <div class="col-4 d-none d-lg-block" style="border-radius: 5px; box-sizing: border-box; overflow: hidden; max-width: 280px; max-height: 280px;">
            <a href="{{site.baseurl}}{{post.url}}">
                <img class="w-100 h-100 img-fixed"
     src="{% if post.image contains '://' %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}"
     alt="{{ post.title }}"
     loading="lazy"
     decoding="async"
     width="800"
     height="450">

            </a>
        </div>
    {% endif %}
</div>
