<div id="simpleAds" class="mt-5 ad-container-principal">
    <div class="ad-container g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250">
        <a href="https://www.instagram.com/centraldajuventudeolinda/?igsh=MW94eXdiZDVjeHF1OQ%3D%3D#">
           <img class="ad-image" src="{{site.baseurl}}/assets/images/anuncios/simples/imgA.jpeg"/>
        </a>
     </div>
<div id="simpleAds" class="mt-5 ad-container-principal">
    <div class="ad-container g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250">
        <a href="https://correioolindense.com.br/contact.html/">
           <img class="ad-image" src="{{site.baseurl}}/assets/images/anuncios/simples/imgB.jpeg"/>
       </a>
   </div>
   <div>
