<div id="threeAds" class="mt-5">
    <div style="display: flex; justify-content: center; margin-top: 15px;">
        <a href="https://www.olinda.pe.gov.br/">
           <img src="{{site.baseurl}}/assets/images/anuncios/triplo/imgA.jpeg"/>
        </a>
     </div>
     <div style="display: flex; justify-content: center; margin-top: 15px;">
        <a href="https://www.olinda.pe.gov.br/">
           <img src="{{site.baseurl}}/assets/images/anuncios/triplo/imgB.jpeg"/>
        </a>
     </div>
     <div style="display: flex; justify-content: center; margin-top: 15px;">
        <a href="https://www.olinda.pe.gov.br/">
           <img src="{{site.baseurl}}/assets/images/anuncios/triplo/imgC.jpeg"/>
        </a>
     </div>
</div>