<div id="threeAds" class="mt-5 ad-container-principal">
   <div class="ad-container g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250">
       <a href="https://www.instagram.com/governope/">
          <img class="ad-image" src="{{site.baseurl}}/assets/images/anuncios/triplo/imgE.gif"/>
       </a>
   </div>
<div class="ad-container g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250">
        <a href="https://www.detran.pe.gov.br/">
          <img class="ad-image" src="{{site.baseurl}}/assets/images/anuncios/triplo/imgA.gif"/>
       </a>
   </div>
