<div id="threeAds" class="mt-5 ad-container-principal">
   <div class="ad-container g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250">
       <a href="https://www.olinda.pe.gov.br">
          <img class="ad-image" src="{{site.baseurl}}/assets/images/anuncios/triplo/imgB.png"/>
       </a>
   </div>
   <div class="ad-container g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250">
       <a href="https://www.youtube.com/@camaramunicipaldeolinda9776/">
          <img class="ad-image" src="{{site.baseurl}}/assets/images/anuncios/triplo/imgA.jpeg"/>
       </a>
   </div>
<div class="ad-container g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250">
       <a href="{{site.baseurl}}/contact.html">
          <img class="ad-image" src="{{site.baseurl}}/assets/images/anuncios/triplo/imgB.jpeg"/>
       </a>
   </div>
<div class="ad-container g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250">
        <a href="https://www.instagram.com/governope/">
          <img class="ad-image" src="{{site.baseurl}}/assets/images/anuncios/triplo/imgB.gif"/>
       </a>
   </div>
